section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.authLeft {
  animation: slide-right 0.9s ease;
}

.authLeft img {
  height: 500px;
}
.authRight {
  animation: slide-left 0.9s ease;
  box-shadow: 1px 1px 2px;
  padding: 1rem 2rem;
  text-align: center;
}

.googleBtn {
  background-color: #a38b23;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}
.google {
  font-size: 1.3rem;
}
.submitBtn {
  background-color: #c334b7;
}

.authChange p {
  margin-top: 0.2rem;
  color: #109965;
  font-size: 1rem;
}

.googleBtn,
.submitBtn {
  width: 100%;
  padding: 0.5rem;
  border: none;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

.authRight h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #109965;
}

.authInputs {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.authInputs input {
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  border: 2px solid #a3c34a;
  padding: 0.5rem 1.1rem;
}
@keyframes slide-left {
  0% {
    transform: translateX(6rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-6rem);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  section {
    gap: 0;
  }
}
@media (max-width: 600px) {
  section {
    margin-top: 120px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }
  .authLeft img {
    height: 400px;
  }
}
@media (max-width: 400px) {
  .authLeft {
    display: none;
  }
}
