nav {
  width: 100%;
  background-color: #6a7af5;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.navContainer {
  padding: 0 1rem;
  padding-top: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.cartLink {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 1rem;
}

.cartAmount {
  position: absolute;
  top: -5px;
  right: -10px;
}
.navLeft h1 {
  font-size: 2.4rem;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  font-size: 0.8;
}
.link.active,
.link:hover {
  color: #000;
 
}
.link {
  color: #fff;
}

.navRightBtns {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.useremail {
  font-size: 1.1rem;
}

.navRightBtns button {
  margin-right: 0.5rem;
  padding: 0.4rem 1rem;
  color: #fff;
  border-radius: 5px;
  font-size: 1rem;
}

.admin,
.login {
  background-color: #3cec4e;
}
.adminLink,
.loginLink,
.registerLink {
  color: #fff;
}
.logoutBtn,
.registerBtn {
  background-color: #6e4b08;
}

.menu {
  display: none;
}
@media (max-width: 900px) {
  .navCenter,
  .navRight {
    display: none;
  }
  .menu {
    display: block;
  }
  .menuIcon {
    z-index: 5;
    font-size: 2.2rem;
    color: #06235c;
    cursor: pointer;
  }
  .menuContainer {
    display: flex;
    color: #fff;
    gap: 0.9rem;
    font-size: 1.5rem;
  }
  .menuContents {
    transition: 2s;
    right: -999px;
    position: fixed;
  }
  .menuContents.show {
    z-index: 10;
    transition: 0.5s;
    top: 60px;
    padding: 1rem 2rem;
    bottom: 0;
    right: 0;
    background-color: #141111;
    position: fixed;
  }
  .menuShade {
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
  }

  .navRightBtns {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }
  .navRightBtns button {
    margin-right: 0.5rem;
    padding: 0.4rem 1rem;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
  }
  .admin {
    background-color: #3cec4e;
  }
  .adminLink {
    color: #fff;
  }
  .logoutBtn {
    background-color: #6e4b08;
  }
}

@media (max-width: 400px) {
  nav {
    height: 40px;
  }
  .navLeft h1 {
    font-size: 1.8rem;
  }
  .menuIcon {
    font-size: 2rem;
  }
  .menuContainer {
    gap: 0.9rem;
    font-size: 1rem;
  }

  .navLinks {
    gap: 1.1rem;
  }
  .menuContents {
    top: 40px;
  }
  .menuContents.show {
    padding: 0.5rem 1rem;
    top: 40px;
  }
}

.icons {
  font-size: 1.1rem;
  margin: 0 0.2rem;
}
