@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-[5px];
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#231234];
  }

  ::-webkit-scrollbar-track {
    @apply bg-black;
  }
}

@layer components {
  .authLeft {
    animation: slide-right 0.9s ease;
  }
  .authRight {
    @apply shadow py-4 px-8 text-center;
    animation: slide-left 0.9s ease;
  }
  .authInputs {
    @apply flex flex-col gap-3;
  }

  .authInputs input {
    @apply text-lg outline-none rounded border-2 border-[#a3c34a] py-2 px-4;
  }

  .sliderImage.active {
    @apply opacity-100 translate-x-0;
  }

  .sliderImage.prev {
    @apply translate-x-[-100%];
  }

  .sliderImage.next {
    @apply translate-x-[100%];
  }

  .menuContents {
    @apply duration-[3s] top-[60px] md:top-[70px] bottom-0 right-[-999px] fixed md:hidden;
  }
  .menuContents.show {
    @apply z-10 duration-1000 top-[60px] md:top-[70px] py-4 px-8 bottom-0 right-0 fixed bg-[#292d2b];
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(6rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-6rem);
  }
  100% {
    transform: translateX(0);
  }
}
